<nav class="navbar bg-body-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Mes Contacts</a>

    <div class="navbar d-flex">
      {{ currentUser?.prenom }}
   <div class="m-3">
    <a class="dropdown-item" (click)="logout()">
      <i class="bi bi-box-arrow-in-left"></i>
    </a>
   </div>

    </div>
    <!-- <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
          {{ currentUser?.prenom }}
          <a class="dropdown-item" (click)="logout()">
            <i class="bi bi-box-arrow-in-left"></i> Déconnexion
          </a>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="logout()">
            <i class="bi bi-box-arrow-in-left"></i> Déconnexion
          </a></li>
        </ul>
      </li>
    </ul> -->

  </div>
</nav>
