<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active"><a (click)="toggleForms()" class="btn" [class.active]="!isSignupMode">Se connecter</a></li>
        <li class="signup-inactive"><a (click)="toggleForms()" class="btn" [class.active]="isSignupMode">S'inscrire</a></li>
      </ul>
    </div>
    <div>
      <form *ngIf="!isSignupMode" [formGroup]="loginForm" (ngSubmit)="login()" class="form-signin">
        <label for="email">Email</label>
        <input formControlName="email" class="form-styling" type="email" placeholder="Email" />
        <label for="password">Mot de passe</label>
        <input formControlName="password" class="form-styling" type="password" placeholder="Mot de passe" />
        <input type="checkbox" id="checkbox" />
        <label for="checkbox"><span class="ui"></span>Garder ma session ouverte</label>
        <div class="btn-animate"><button type="submit" class="btn-signin">Connexion</button></div>
      </form>

      <form *ngIf="isSignupMode" [formGroup]="signupForm" (ngSubmit)="register()" class="form-signup">
        <label for="prenom">Prénom</label>
        <input formControlName="prenom" class="form-styling" type="text" placeholder="Prénom" />
        <label for="nom">Nom</label>
        <input formControlName="nom" class="form-styling" type="text" placeholder="Nom" />
        <label for="email">Email</label>
        <input formControlName="email" class="form-styling" type="email" placeholder="Email" />
        <label for="tel">Téléphone</label>
        <input formControlName="tel" class="form-styling" type="tel" placeholder="Téléphone" />
        <label for="password">Mot de passe</label>
        <input formControlName="password" class="form-styling" type="password" placeholder="Mot de passe" />
        <button type="submit" class="btn-signup">Inscription</button>
      </form>

      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success">
        <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" id="check">
          <path fill="#ffffff" d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314 c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042 c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
        </svg>
        <div class="successtext">
          <p>{{ successMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
